<div class="keyboard">
    <button (click)="Emit('q')">q</button>
    <button (click)="Emit('w')">w</button>
    <button (click)="Emit('e')">e</button>
    <button (click)="Emit('r')">r</button>
    <button (click)="Emit('t')">t</button>
    <button (click)="Emit('y')">y</button>
    <button (click)="Emit('u')">u</button>
    <button (click)="Emit('i')">i</button>
    <button (click)="Emit('o')">o</button>
    <button (click)="Emit('p')">p</button>
    <hr>
    <button (click)="Emit('a')">a</button>
    <button (click)="Emit('s')">s</button>
    <button (click)="Emit('d')">d</button>
    <button (click)="Emit('f')">f</button>
    <button (click)="Emit('g')">g</button>
    <button (click)="Emit('h')">h</button>
    <button (click)="Emit('j')">j</button>
    <button (click)="Emit('k')">k</button>
    <button (click)="Emit('l')">l</button>
    <hr>
    <button (click)="Emit('z')">z</button>
    <button (click)="Emit('x')">x</button>
    <button (click)="Emit('c')">c</button>
    <button (click)="Emit('v')">v</button>
    <button (click)="Emit('b')">b</button>
    <button (click)="Emit('n')">n</button>
    <button (click)="Emit('m')">m</button>
</div>